//////////////////////// BASE-INPUT ////////////////////////

.base-input {
  position: relative;

  &__input {
    width: 100%;
    background: var(--input-background-color);
    padding: 10px;
    border: none;
    -webkit-border-radius: $second-border-radius;
    -moz-border-radius: $second-border-radius;
    border-radius: $second-border-radius;
    box-sizing: border-box;
    color: var(--second-title-color);
  }

  &__input:focus {
    outline: 2px solid var(--message-background-color);
    -moz-outline-radius: $second-border-radius;
  }

  &__icon {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 100%;
    font-size: 15px;
  }

  &__error {
    margin-top: 10px;
    color: var(--danger-color);
  }

  &__input:-webkit-autofill,
  &__input:-webkit-autofill:hover,
  &__input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--second-title-color);
    -webkit-box-shadow: none;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.base-input.base-input--success {
  .base-input__input {
    padding-right: 35px;
    color: var(--success-color);
    outline: 2px solid var(--success-color);
  }

  .base-input__icon.icon-success{
    display: flex;
    color: var(--success-color);
  }
}

.base-input.base-input--error {
  .base-input__input {
    padding-right: 35px;
    color: var(--danger-color);
    outline: 2px solid var(--danger-color);
  }

  .base-input__icon.icon-error{
    display: flex;
    right: 15px;
    color: var(--danger-color);
  }
}

//////////////////////// BASE-SELECT ////////////////////////

.base-select {
  position: relative;

  &__select {
    box-sizing: border-box;
    width: 100%;
    background: var(--input-background-color);
    padding: 10px;
    border: none;
    -webkit-border-radius: $second-border-radius;
    -moz-border-radius: $second-border-radius;
    border-radius: $second-border-radius;
    color: var(--second-title-color);

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }

  &__select:focus {
    outline: 2px solid var(--message-background-color);
    -moz-outline-radius: $second-border-radius;
  }

  &__option {
    color: var(--second-title-color);
  }

  &__option:hover, &__option:focus {
    box-shadow: 0 0 10px 100px var(--second-title-color) inset !important;
    background: var(--second-title-color) !important;
    color: var(--main-title-color) !important;
  }

  &__icon {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 100%;
    font-size: 15px;
  }

  &__icon.icon-appearance {
    display: flex;
    right: 15px;
    color: var(--second-title-color);
  }

  &__error {
    margin-top: 10px;
    color: var(--danger-color);
  }
}

.base-select.base-select--success {
  .base-select__select {
    padding-right: 35px;
    color: var(--success-color);
    outline: 2px solid var(--success-color);
  }

  .base-select__icon.icon-success{
    display: flex;
    color: var(--success-color);
  }

  .base-select__icon.icon-appearance{
    display: none;
  }
}

.base-select.base-select--error {
  .base-select__input {
    padding-right: 35px;
    color: var(--danger-color);
    outline: 2px solid var(--danger-color);
  }

  .base-select__icon.icon-error{
    display: flex;
    right: 15px;
    color: var(--danger-color);
  }

  .base-select__icon.icon-appearance{
    display: none;
  }
}

//////////////////////// BASE-AUTOCOMPLETE ////////////////////////
.base-autocomplete {
  position: relative;
  width: 100%;

  &__result {
    display: none;
    visibility: hidden;

    list-style: none;
    position: absolute;
    box-sizing: border-box;
    right: 0;
    top: 45px;
    left: 0;

    padding: 10px;
    border-radius: $second-border-radius;
    color: var(--second-title-color);
    background-color: var(--popup-background-color);

    &_item {
      cursor: pointer;
      padding: 5px;
    }

    &_item:hover {
      border-radius: $second-border-radius;
      background-color: var(--message-background-color);
      transition: 0.5s all;
    }
  }

  &__result.base-autocomplete__result--active {
    display: block;
    visibility: visible;
  }
}