@font-face {
  font-family: 'AppIcons';
  src: url('../fonts/app-icon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.app-icons {
  font-family: 'AppIcons' !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.icon-grid:before {
  content: "\e900";
}
