*, html {
  font-family: 'Montserrat', sans-serif;
}

html, body {
  overflow: hidden;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hr-80 {
  display: block;
  height: 3px;
  width: 80%;
  background-color: var(--divider-color);
  border-radius: $second-border-radius;
  margin: 8px 0;
}